body{
    width: 40vw;
    height: 40vw;
}
.cir1{
    background-color: pink;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    bottom: 0px;


}
.cir1:hover{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: blue;
    transition:  3s ease-in;
}
.cir2{
    background-color: red;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    

}
.cir2:hover{
    left: 100%;
    transition:  5s ease-in;
}